<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="/css/main/mainpage.css" rel="stylesheet">
    <link href="/css/comment/modal.css" rel="stylesheet">
    <link href="/css/comment/list.css" rel="stylesheet">
    <script src="/js/mainPage.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="navbar mr-auto">
        <a class="navbar-brand" href="/api/posts">Team 1</a>
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/api/posts">팀원 모집</a>
            <a class="nav-item nav-link" href="/api/posts/complete">완료된 프로젝트</a>
            <a class="nav-item nav-link" href="/information">질의응답</a>
            <a class="nav-item nav-link"
               href="/api/admin/users"
               th:if="${session.memberRole == 'ADMIN'}">
                관리자페이지</a>
        </div>
    </div>
    <div class="d-flex align-items-center ms-auto">
    <span class="me-2 fw-bold"
          th:if="${session.memberNickname != null}"
          th:text="${session.memberNickname + '님'}">nickname</span>

        <form method="post" th:action="@{/logout}" th:if="${session.memberId != null}">
            <button class="btn btn-success btn-sm" type="submit">로그아웃</button>
        </form>

        <a class="btn btn-outline-primary btn-sm" th:href="@{/templates/login}"
           th:if="${session.memberId == null}">로그인</a>
    </div>
</nav>
<div class="banner">
    <div class="banner-title">완료된 프로젝트를 둘러보세요</div>
    <div class="banner-subtitle">여러가지 내용들을 확인하기</div>
</div>
<div class="container mt-2 mb-2" style="padding: 0 10%;">
    <div class="mb-4" style="display: flex; flex-direction: column; margin-bottom: 10px;">
        <div style="display: flex; flex-direction: column; align-items: flex-end; width: 100%;">
            <form action="/api/posts/complete" method="get"
                  style="display: flex; align-items: center; width: 100%; margin-bottom: 10px;">
                <input name="keyword" placeholder="완료된 프로젝트 검색" style="flex-grow: 1;"
                       th:value="${keyword} ?: ''"
                       type="text"/>
                <button class="btn btn-primary ml-3" type="submit">검색</button>
            </form>
        </div>
    </div>
    <div>
        <div class="mb-4 post-item" th:each="item : ${recruitmentList}"
             th:if="${item.end_status} == true">
            <a class="stretched-link"
               th:href="@{/api/posts/complete/{id}(id=${item.recruitmentId})}">
                <h5 class="d-flex align-items-center">
                    <span class="badge badge-success mr-2" style="background-color: #28a745;"
                          th:if="${item.end_status} == true">프로젝트 완료</span>
                    <span th:text="${item.title}">제목</span>
                </h5>
                <p class="text-truncate" style="max-height: 3.6em; overflow: hidden;">
                    [[${item.content}]]
                </p>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p class="small card-text mb-0">
                        <span class="font-weight-bold" style="margin-right: 1em;"
                              th:text="${item.nickname}">닉네임</span>
                        <span class="text-muted"
                              th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}">작성시간</span>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container mb-5">
    <nav th:if="${totalPages > 1}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link"
                   tabindex="-1"
                   th:href="@{'/api/admin/posts'(page=${currentPage - 1}, sortBy=${sortBy},
                     status=${status != -1 ? status : null},
                     keyword=${keyword != null and keyword != '' ? keyword : null})}">«</a>
            </li>
            <li class="page-item" th:classappend="${i == currentPage} ? 'active'"
                th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link"
                   th:href="@{'/api/admin/posts'(page=${i}, sortBy=${sortBy},
                     status=${status != -1 ? status : null},
                     keyword=${keyword != null and keyword != '' ? keyword : null})}"
                   th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{'/api/admin/posts'(page=${currentPage + 1}, sortBy=${sortBy},
                     status=${status != -1 ? status : null},
                     keyword=${keyword != null and keyword != '' ? keyword : null})}">»</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>