<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 설정</title>
    <link rel="stylesheet" th:href="@{/css/profile/profile.css}">
</head>
<body data-member-id="[[${member.id}]]">
<div class="header" onclick="location.href='/'">TEAM1</div>


<th:block
    th:with="imagePath=${member.profileImageUrl != null ? member.profileImageUrl : '/images/default-profile.png'}">
    <div class="container">
        <div class="left-section">
            <img id="profileImage" th:src="@{${imagePath}}" alt="프로필 이미지"/>

            <form th:action="@{/member/{id}/image(id=${member.id})}"
                  method="post"
                  enctype="multipart/form-data">
                <input type="file"
                       id="imageUpload"
                       name="file"
                       onchange="this.form.submit()"
                       th:disabled="${member.level < 5}"/>
                <button type="button"
                        class="change-img-btn btn btn-cancel"
                        onclick="document.getElementById('imageUpload').click()">
                    대표 이미지를 설정해 주세요
                </button>
            </form>

            <div class="level">
                <p th:text="'Lv : ' + ${member.level}"></p>
            </div>
            <form th:action="@{/profile/{id}(id=${member.id})}" method="post"
                  onsubmit="return confirm('정말로 탈퇴하시겠습니까');">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">회원 탈퇴</button>
            </form>
        </div>

        <div class="right-section">
            <form th:action="@{/member/{id}/update(id=${member.id})}"
                  method="post">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" th:value="${member.name}"/>
                </div>
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" id="nickname" name="nickname" th:value="${member.nickname}"/>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" id="email" name="email" th:value="${member.email}"/>
                </div>
                <div class="form-group">
                    <label for="tech">기술스택</label>
                    <input type="text" id="tech" name="tech" th:value="${member.tech}"/>
                </div>

                <div class="buttons">
                    <button type="button" class="btn btn-cancel" onclick="location.reload()">취소
                    </button>
                    <button type="submit" class="btn btn-submit"
                            th:if="${user.id == loginMember.id}">설정 완료
                    </button>
                </div>
            </form>
        </div>
    </div>
</th:block>

<script src="/js/profile.js"></script>
</body>
</html>