<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 설정</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/profile/profile.css}">
    <link href="/css/main/mainpage.css" rel="stylesheet">
    <link href="/css/comment/modal.css" rel="stylesheet">
    <link href="/css/comment/list.css" rel="stylesheet">
</head>
<body data-member-id="[[${member.id}]]">
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="navbar mr-auto">
        <a class="navbar-brand" href="/api/posts">Team 1</a>
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/api/posts">팀원 모집</a>
            <a class="nav-item nav-link" href="/api/posts/complete">완료된 프로젝트</a>
            <a class="nav-item nav-link" href="/api/information">질의응답</a>
            <a class="nav-item nav-link"
               href="/api/admin/users"
               th:if="${session.memberRole == 'ADMIN'}">
                관리자페이지</a>
        </div>
    </div>
    <div class="d-flex align-items-center ms-auto">
        <a class="nickname fw-bold"
           th:if="${session.memberNickname != null}"
           th:href="@{/api/profile/{id}(id=${session.memberId})}"
           th:text="${session.memberNickname + '님 '}">nickname</a>

        <form method="post" th:action="@{/logout}" th:if="${session.memberId != null}">
            <button class="btn btn-success btn-sm" type="submit">로그아웃</button>
        </form>

        <a class="btn btn-outline-primary btn-sm" th:href="@{/templates/login}"
           th:if="${session.memberId == null}">로그인</a>
    </div>
</nav>

<th:block
    th:with="imagePath=${member.profileImageUrl != null ? member.profileImageUrl : '/images/default-profile.png'}">
    <div class="container">
        <div class="left-section">
            <img id="profileImage" th:src="@{${imagePath}}" alt="프로필 이미지"/>

            <form th:action="@{/api/member/{id}/image(id=${member.id})}"
                  method="post"
                  enctype="multipart/form-data">
                <input type="file"
                       id="imageUpload"
                       name="file"
                       onchange="this.form.submit()"
                       th:disabled="${member.level < 5}"/>
                <button type="button"
                        class="change-img-btn btn btn-cancel"
                        onclick="document.getElementById('imageUpload').click()">
                    대표 이미지를 설정해 주세요
                </button>
            </form>

            <div class="level">
                <p th:text="'Lv : ' + ${member.level}"></p>
            </div>
            <form th:action="@{/api/profile/{id}(id=${member.id})}" method="post"
                  onsubmit="return confirm('정말로 탈퇴하시겠습니까');">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">회원 탈퇴</button>
            </form>
        </div>

        <div class="right-section">
            <form th:action="@{/api/member/{id}/update(id=${member.id})}"
                  method="post">
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" id="nickname" name="nickname" th:value="${member.nickname}"/>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" id="email" name="email" readonly
                           th:value="${member.email}"/>
                </div>
                <div class="form-group">
                    <label for="tech">기술스택</label>
                    <input type="text" id="tech" name="tech" th:value="${member.tech}"/>
                </div>

                <div class="buttons">
                    <button type="button" class="btn btn-cancel" onclick="location.reload()">취소
                    </button>
                    <button type="submit" class="btn btn-submit"
                            th:if="${member.id == loginMember.id}">설정 완료
                    </button>
                </div>
            </form>
        </div>
    </div>
</th:block>

<script src="/js/profile.js"></script>
</body>
</html>