.navbar-brand {
    padding: 0.5rem 1rem;
    background-color: #73EB77;
    color: #ffffff;
}

.btn {
    background-color: #00C471;
    color: #ffffff;
    border: none;
}

input[type="text"] {
    padding: 4px;
}

.pagination .page-item.active .page-link {
    background-color: #00C471;
    color: white;
}