.navbar-brand {
    padding: 0.5rem 1rem;
    background-color: #73EB77;
    color: #ffffff;
}

.btn {
    background-color: #00C471;
    color: #ffffff;
    border: none;
}

input[type="text"] {
    padding: 4px;
}

.pagination .page-item.active .page-link {
    background-color: #00C471;
    color: #ffffff;
}

.fixed-role-badge {
    width: 60px;
    padding: 7px;
    text-align: center;
}

.role-select {
    max-width: 84px;
    padding-left: 0;
}

.nickname {
    font-size: 18px;
    padding-bottom: 7px;
}

.btn-warning {
    background-color: #a1a1a1;
}

.text-muted {
    font-size: 14px;
}