<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Q&A 글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/information/InformatinWrite.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<section class="write-modal">
    <header class="write-header">
        <h3>Q&A</h3>
        <div class="write-guide">예시를 참고해 작성해주세요.</div>
    </header>
    <form th:action="@{/information}" method="post" th:object="${informationRequest}"
          class="write-form">
        <label for="title">제목</label>
        <input type="text" th:field="*{title}" id="title" placeholder="제목을 입력하세요" required>

        <label for="content">내용</label>
        <div class="editor-box">
      <textarea th:field="*{content}" id="content" rows="10"
                placeholder="여기에 입력하세요."></textarea>
        </div>

        <div class="write-actions">
            <a th:href="@{/information}" class="cancel-btn">취소</a>
            <button type="submit" class="submit-btn">등록</button>
        </div>
    </form>
</section>
</body>
</html>
