.banner {
    padding: 1rem 3rem;
    background-color: #333B3D;
    text-align: left;
    margin-bottom: 20px;
}

.banner-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.banner-subtitle {
    font-size: 0.9rem;
    color: #ffffff;
}

.navbar-brand {
    padding: 0.5rem 1rem;
    background-color: #73EB77;
    color: #ffffff;
    border-top: 2px solid #eee;
}

.btn {
    padding: 0.6rem 0.6rem;
    background-color: #00C471;
    color: #ffffff;
    border: none;
}

.filter-btn {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;

}

.container.mb-4 {
    padding-top: 20px;
}

input[type="text"] {
    padding: 5px;
}

a.btn-success {
    position: absolute;
    right: 0;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #6c757d;
    color: white;
    border-radius: 4px;
}

.post-item {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.post-item a {
    color: black;
}

.stretched-link {
    cursor: pointer;
}

.pagination .page-item.active .page-link {
    background-color: #00C471;
    color: white;
}

a:hover {
    text-decoration: none;
}

